body {
    margin: 40px;
  }
  .wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
  background-color: #fff;
  color: #444;
  }
  
  .box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  
  }

    .a {
    grid-column: 1 / 4;
    grid-row: row ;
    }
    
    .b {
        grid-column: col 0 / span 1;
        grid-row: row 2;
    }

    .c {
        grid-column: col 0 / span 1;
        grid-row: row 2;
    }

    .d {
        grid-column: 0 ;
        grid-row: row 2 / span 2;
    }

    .e {
        grid-column: 0 / 4;
        grid-row: row 3;
    }

    .f {
        grid-column: 0 / 4;
        grid-row: row 3;
    }

    @media screen and (min-width: 40em) {
        article {
            display: grid;
            grid-template-columns: 100%;
        }
    }